@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 234 43% 94%;
    --foreground: 231 20% 27%;
    --card: 0 0% 100%;
    --card-foreground: 231 20% 27%;
    --popover: 0 0% 100%;
    --popover-foreground: 231 20% 27%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 232 24% 88%;
    --secondary-foreground: 231 20% 27%;
    --muted: 232 24% 92%;
    --muted-foreground: 231 15% 55%;
    --accent: 261 40% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 24% 85%;
    --input: 232 24% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 261 40% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 231 20% 27%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 234 43% 94%;
    --sidebar-accent-foreground: 231 20% 27%;
    --sidebar-border: 232 24% 85%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 231 20% 15%;
    --foreground: 0 0% 98%;
    --card: 231 20% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 231 20% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 231 20% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 231 20% 25%;
    --muted-foreground: 231 15% 75%;
    --accent: 261 40% 57%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 231 20% 30%;
    --input: 231 20% 30%;
    --ring: 231 48% 58%;
    --chart-1: 231 48% 58%;
    --chart-2: 261 40% 57%;
    --chart-3: 197 37% 74%;
    --chart-4: 43 74% 56%;
    --chart-5: 27 87% 57%;
    --sidebar-background: 231 20% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 231 48% 58%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 231 20% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 231 20% 30%;
    --sidebar-ring: 231 48% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
